<div class="layout">
  <header class="header">
    <div style="width: 100%;">
      <h3 class="date">{{todaysDate | date:'longDate'}}</h3>
      <div class="status">{{incompleteTasks.length}} incomplete, {{completedTasks.length}} completed</div>
    </div>
    <div style="-webkit-tap-highlight-color: transparent;">
      <mat-icon class="menu-icon" [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openArchives()">
          <mat-icon class="icons">archive</mat-icon>
          <span>Archived</span>
        </button>
        <button mat-menu-item (click)="openSettings()">
          <mat-icon class="icons">settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item (click)="openAbout()">
          <mat-icon class="icons">info</mat-icon>
          <span>About</span>
        </button>
      </mat-menu>
    </div>
    <div class="divider"></div>
  </header>
  <div class="todos">
    <div class="incomplete-todos">
      <div class="todo-label">Incomplete</div>
      <div class="todo-items">
        <div cdkDropList
            class="todoIncomplete example-list"
            #incompleteTodos="cdkDropList"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="incompleteTasks"
            [cdkDropListConnectedTo]="completedTodos"
            cdkDropListSortingDisabled
            [@.disabled]="disableAnimations"
            >
          <div cdkDrag
            [@slideInOut]="i"
            class="todo-container"
            *ngFor="let task of incompleteTasks; index as i"
            (cdkDragStarted)="onDragStarted($event)"
            (cdkDragEnded)="onDragEnded($event, task)"
          >
            <label class="container">
              <input id="todoIncomplete" type="checkbox" [checked]="task.checked" (change)="toggleTaskStatus(task)">
              <span class="checkmark"></span>
            </label>
            <div class="todo-item">
              <div class="todo-item-label">{{task.name}}</div>
              <div class="todo-category-label">{{task.emoji +' '+ task.category}}</div>
            </div>
          </div>
          <div *ngIf="incompleteTasks.length === 0">
            <div class="todo-item">
              <div class="todo-item-label todo-item-label_completed">Click on + to add a task</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="completed-todos">
      <div class="todo-label">Completed</div>
      <div class="todo-items">
        <div cdkDropList
          class="todoIncomplete example-list"
          #completedTodos="cdkDropList"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="completedTasks"
          [cdkDropListConnectedTo]="incompleteTodos"
          cdkDropListSortingDisabled
          [@.disabled]="disableAnimations"
          >
          <div cdkDrag
            [@slideInOut]="i"
            class="todo-container"
            *ngFor="let task of completedTasks; index as i"
            (cdkDragStarted)="onDragStarted($event)"
            (cdkDragEnded)="onDragEnded($event, task)"
            >
            <label class="container">
              <input id="todoComplete" type="checkbox" [checked]="task.checked" (change)="toggleTaskStatus(task)">
              <span class="checkmark"></span>
            </label>
            <div class="todo-item">
              <div class="todo-item-label todo-item-label_completed">{{task.name}}</div>
            </div>
            <div *ngIf="completedTasks.length === 0">
              <div class="todo-item">
                <div class="todo-item-label todo-item-label_completed">Mark the task done to get it completed</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="add-wrapper">
    <img class="add-btn" style="cursor: pointer;" src="../../../assets/add.svg" alt="" (click)="AddNewTask()">
  </div>
  <div class="delete-wrapper">
    <div style="position: fixed; bottom: 12%;">
      <div *ngIf="deleteBtn" [@slideFromBottom]>
        <div class="delete-btn drop-receiver" cdkDropList #deleteTodos="cdkDropList" (_drop)="onDelete($event)">
          <mat-icon class="dlt-icon">delete</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
