<div class="layout" id="layout">
  <header class="header">
    <div class="date-wrapper">
      <h3 class="date">{{todaysDate | date:'longDate'}}</h3>
      <div class="status">{{incompleteTasks.length}} incomplete, {{completedTasks.length}} completed</div>
    </div>
    <div class="menu" style="-webkit-tap-highlight-color: transparent;">
      <mat-icon class="menu-icon" [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openArchives()">
          <mat-icon class="icons">archive</mat-icon>
          <span>Archived</span>
        </button>
        <button mat-menu-item (click)="openSettings()">
          <mat-icon class="icons">settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item (click)="openAbout()">
          <mat-icon class="icons">info</mat-icon>
          <span>About</span>
        </button>
      </mat-menu>
    </div>
  </header>
  <hr>
  <div class="todos">
    <div class="incomplete-todos">
      <div class="todo-label">Incomplete</div>
      <div class="todo-items">
        <div cdkDropList
            class="todoIncomplete example-list"
            #incompleteTodos="cdkDropList"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="incompleteTasks"
            cdkDropListSortingDisabled
            [@.disabled]="disableAnimations"
            >
            <div *ngIf="incompleteTasks.length === 0">
              <div>
                <div class="todo-item-label todo-item-label_msg">Click <span style="font-size: large;">+</span> to add a task</div>
              </div>
            </div>
          <div cdkDrag
            class="todo-container"
            *ngFor="let task of incompleteTasks; index as i"
            [@slideInOut]="i"
            [cdkDragPreviewClass]="'over-delete'"
            (cdkDragStarted)="onDragStarted($event)"
            (cdkDragEnded)="onDragEnded($event, task)"
            (cdkDragMoved)="onDragMoved($event)"
          >
          <mat-icon cdkDragHandle class="drag-handle">drag_indicator</mat-icon>
            <div class="todo-item">
              <div class="todo-detail">
                <div class="todo-item-title">
                  <div style="width: 100%;">
                    <div class="todo-item-actions">
                      <label class="container no-select">
                        <input id="todoIncomplete" type="checkbox" [checked]="task.checked" (change)="toggleTaskStatus(task)">
                        <span class="checkmark"></span>
                      </label>
                      <div class="todo-item-emoji">
                        <div class="emojis">
                          <button title="Change Emoji" class="emoji-btn no-select" (click)="toggleElement(i)" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="emojiMenu">
                            <ngx-emoji [isNative]="true" [emoji]="task.emoji" [size]="16"></ngx-emoji>
                          </button>
                        </div>
                        <mat-menu #emojiMenu="matMenu">
                          <div (click)="$event.stopPropagation()">
                            <emoji-mart [id]="i"
                              [showPreview]="false"
                              [isNative]="true"
                              [darkMode]="darkMode"
                              color="#4249a0"
                              class="emoji-popup"
                              (emojiSelect)="select($event, task); menuTrigger.closeMenu()"
                            ></emoji-mart>
                          </div>
                        </mat-menu>
                      </div>
                    </div>
                    <div class="todo-item-label">
                      <span class="todo-item-text">{{task.name}}</span>
                    </div>
                  </div>
                  <span style="display: flex; flex: none; gap: 8px; padding-top: 5px;">
                    <div class="todo-item-tags">
                      <div class="tag-chip" *ngFor="let tag of task.tags">{{tag.name}}</div>
                    </div>
                    <div class="todo-item-date">
                      <div class="date-text">{{task.dateCreated | date:'MMM d'}}</div>
                    </div>
                  </span>
                </div>
                <div class="todo-note-label">{{task.note}}</div>
                <div class="todo-item-tags-mobile">
                  <div class="tag-chip" *ngFor="let tag of task.tags">{{tag.name}}</div>
                </div>
                <div id="edit-btn" class="tooltip no-select" (click)="editTask(task)"><mat-icon class="flex-center edit-icon no-select" title="Edit">edit</mat-icon></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="completed-todos">
      <div class="todo-label">Completed</div>
      <div class="todo-items">
        <div cdkDropList
          class="todoIncomplete example-list"
          #completedTodos="cdkDropList"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="completedTasks"
          cdkDropListSortingDisabled
          [@.disabled]="disableAnimations"
          >
          <div *ngIf="completedTasks.length == 0">
            <div>
              <div class="todo-item-label todo-item-label_msg">Mark a task done to get it completed</div>
            </div>
          </div>
          <div cdkDrag
            class="todo-container"
            *ngFor="let task of completedTasks; index as i"
            [@slideInOut]="i"
            [cdkDragPreviewClass]="'over-delete'"
            (cdkDragStarted)="onDragStarted($event)"
            (cdkDragEnded)="onDragEnded($event, task)"
            (cdkDragMoved)="onDragMoved($event)"
            >
            <mat-icon cdkDragHandle class="drag-handle">drag_indicator</mat-icon>
            <div class="todo-item">
              <div class="todo-detail">
                <div class="todo-item-title">
                  <div style="width: 100%;">
                    <div class="todo-item-actions">
                      <label class="container no-select">
                        <input id="todoComplete" type="checkbox" [checked]="task.checked" (change)="toggleTaskStatus(task)">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="todo-item-label todo-item-label_completed">
                      <span class="todo-item-text">{{task.name}}</span>
                    </div>
                  </div>
                  <span style="display: flex; flex: none; gap: 8px; padding-top: 5px;">
                    <div class="todo-item-tags">
                      <div class="tag-chip" *ngFor="let tag of task.tags">{{tag.name}}</div>
                    </div>
                  </span>
                </div>
                <div class="todo-item-tags-mobile">
                  <div class="tag-chip" *ngFor="let tag of task.tags">{{tag.name}}</div>
                </div>
                <div class="tooltip no-select" (click)="editTask(task)"><mat-icon class="flex-center edit-icon no-select" title="Edit">edit</mat-icon></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="futureTasks.length !== 0">
      <hr>
      <div class="todo-item-label todo-item-label_msg todo-item-label_future">
        Plan tomorrow's success right here
        <mat-icon class="collapse-icon" [title]="!collapsed? 'Collapse' : 'Expand'" (click)="collapse()" [ngClass]="!collapsed? 'rotate-down' : 'rotate-up'">keyboard_arrow_down</mat-icon>
      </div>
      <div class="future-todos" *ngIf="!collapsed" [@slideTopBottom]>
        <div *ngFor="let tab of futureTasks; index as i; trackBy: trackByFn">
          <div cdkDropList class="example-list">
            <div class="todo-label">{{tab.label}}</div>
            <div class="todo-items todoFuture"
              cdkDropList
              #futureTodos="cdkDropList"
              (cdkDropListDropped)="drop($event)"
              [cdkDropListData]="tab.tasks"
              cdkDropListSortingDisabled
              [@.disabled]="disableAnimations"
              >
              <div cdkDrag
                class="todo-container"
                *ngFor="let task of tab.tasks; trackBy: trackByFn"
                [@slideInOut]="task.id"
                [cdkDragPreviewClass]="'over-delete'"
                (cdkDragStarted)="onDragStarted($event)"
                (cdkDragEnded)="onDragEnded($event, task)"
                (cdkDragMoved)="onDragMoved($event)">
                <mat-icon cdkDragHandle class="drag-handle">drag_indicator</mat-icon>
                <div class="todo-item">
                  <div class="todo-detail">
                    <div class="todo-item-title">
                      <div style="width: 100%;">
                        <div class="todo-item-actions">
                          <label class="container no-select">
                            <input id="todoFuture" type="checkbox" [checked]="task.checked" (change)="toggleTaskStatus(task)">
                            <span class="checkmark"></span>
                          </label>
                          <div class="todo-item-emoji">
                            <div class="emojis">
                              <button title="Change Emoji" class="emoji-btn" (click)="toggleElement(i)" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="emojiMenu">
                                <ngx-emoji [isNative]="true" [emoji]="task.emoji" [size]="16"></ngx-emoji>
                              </button>
                            </div>
                            <mat-menu #emojiMenu="matMenu">
                              <div (click)="$event.stopPropagation()">
                                <emoji-mart [id]="i"
                                  [showPreview]="false"
                                  [isNative]="true"
                                  [darkMode]="darkMode"
                                  color="#4249a0"
                                  class="emoji-popup"
                                  (emojiSelect)="select($event, task); menuTrigger.closeMenu()">
                                </emoji-mart>
                              </div>
                            </mat-menu>
                          </div>
                        </div>
                        <div class="todo-item-label">
                          <span class="todo-item-text">{{task.name}}</span>
                        </div>
                      </div>
                      <span style="display: flex; flex: none; gap: 8px; padding-top: 5px;">
                        <div class="todo-item-tags">
                          <div class="tag-chip" *ngFor="let tag of task.tags">{{tag.name}}</div>
                        </div>
                        <div class="todo-item-date">
                          <div class="date-text">{{task.dateCreated | date:'MMM d'}}</div>
                        </div>
                      </span>
                    </div>
                    <div class="todo-note-label">{{task.note}}</div>
                    <div class="todo-item-tags-mobile">
                      <div class="tag-chip" *ngFor="let tag of task.tags">{{tag.name}}</div>
                    </div>
                    <div class="tooltip no-select" (click)="editTask(task)"><mat-icon class="flex-center edit-icon no-select" title="Edit">edit</mat-icon></div>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="add-wrapper">
    <div class="add-btn" (click)="AddNewTask()">
      <span class="add-icon">
        <img style="height: 20px;" src="../../../assets/+.svg" alt="">
      </span>
    </div>
  </div>
  <!-- <img class="add-wrapper" style="cursor: pointer" src="../../../assets/add.svg" alt="" (click)="AddNewTask()"> -->
  <div class="delete-wrapper">
    <div style="position: fixed; bottom: 12%;">
      <div *ngIf="deleteBtn" [@slideFromBottom]>
        <button id="delete-btn" class="delete-btn drop-receiver" cdkDropList #deleteTodos="cdkDropList" (_hover)="onHoverDelete($event)" (_drop)="onDelete($event)">
          <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
        </button>
      </div>
    </div>
  </div>
</div>
