<div class="container">
  <div class="header">
    <mat-icon class="icon">delete</mat-icon>
    <label class="title">Delete Tasks</label>
  </div>
  <div class="action-buttons">
    <p class="description">are you sure you want to delete all tasks? This operation cannot be undone.</p>
    <span style="padding: 0px 10px 24px 10px;">
      <button mat-button class="btn btn-no" (click)="onClickNo()">No, Keep them</button>
      <button mat-button class=" btn btn-yes" (click)="onClickYes()">Yes, Delete them</button>
    </span>
  </div>
</div>
