<div class="sheet-layout">
    <div class="header">
      <div style="margin-top: 2rem; margin-bottom: 2rem;">
        <h5 class="heading">About 📱</h5>
        <p class="sub-heading">What lies under this app? 🤔</p>
        <section class="content">
          <div class="about-text">
            <p>Say hi to the Effortless TODO app, your productivity companion.</p>
            <p>This app works with zero effort! Just add you daily routine tasks and in the end of the day it will archive all the previous day's tasks automatically</p>
            <p>With Angular 16 at its core, this app delivers a seamless user experience.</p>
            <p>Your tasks are safely stored using local storage, always ready for you.</p>
            <p style="color: #F67979;">p.s. do not clear your browser storage! all the tasks will be cleared</p>
            <p>Have any questions, feedback or want to say hi? Fill the form, or
              <a class="email-link" href="mailto:affanahmed9t9@gmail.com">email me</a> whenever convenient.
            </p>
          </div>
        </section>
        <div class="divider"></div>
        <footer class="footer-text">
          <p class="about-text">Explore my <a class="email-link" href="https://affanahmed.vercel.app/">portfolio</a> to see my journey through code and design.</p>
          <p></p>
          <p class="about-text">Built by Affan Ahmed, Proudly made in Pakistan 🇵🇰</p>
        </footer>
      </div>
    </div>
</div>
