<div class="sheet-layout">
    <div class="header">
      <div style="margin-top: 2rem; margin-bottom: 2rem;">
        <h5 class="heading">About 📱</h5>
        <p class="sub-heading">What lies under this app? 🤔</p>
        <section class="content">
          <p>Welcome to the To-Do app by Affan Ahmed, your productivity companion.</p>
          <p>With Angular 16 at its core, this app delivers a seamless user experience.</p>
          <p>Your tasks are safely stored using local storage, always ready for you.</p>
          <p>Contact me for any feedback or inquiries.</p>
        </section>
        <footer>
          <p>Developed by Affan Ahmed</p>
        </footer>
      </div>
    </div>
</div>
