<div class="sheet-layout">
  <div class="header">
    <div style="margin-top: 2rem; margin-bottom: 2rem;">
      <h5 class="heading">Settings ⚙️</h5>
      <p class="sub-heading">Tailor your experience</p>
      <section class="content">
        <div class="settings-panel">
          <div class="setting"
          style="
              display: flex;
              flex-direction: row;
              align-items: center;
            ">
            <div style="width: 100%;">
              <div class="settings-title">Select Theme</div>
              <div class="settings-description">change app theme</div>
            </div>
            <!-- <mat-slide-toggle [(ngModel)]="toggleTheme" (change)="onChange($event)"></mat-slide-toggle> -->
            <label class="switch">
              <input type="checkbox" [(ngModel)]="darkMode" (change)="onChange($event)">
              <span class="slider"></span>
          </label>
        </div>
        <div *ngIf="isPWAstate">
          <div class="divider"></div>
            <div class="setting">
              <div class="settings-title">Refresh</div>
              <div class="settings-description">Facing issues on mobile? Refresh the app</div>
              <button mat-button class="btn-primary" (click)="onRefresh()">Refresh</button>
            </div>
        </div>
        <div>
          <div class="divider"></div>
            <div class="setting">
              <div class="settings-title">Danger Zone</div>
              <div class="settings-description">Clear all tasks from browser storage</div>
              <button mat-button class="btn-danger" (click)="onDelete()">Delete all tasks</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
