
.sheet-layout {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  margin-bottom: 1.5rem;
}

.heading {
  margin: 0px 0px 0.35em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.334;
  letter-spacing: 0em;
  font-weight: 700;
}

.sub-heading {
  margin: 0px;
  margin-bottom: 1rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.6);
  max-width: 360px;
  line-height: 1.43;
}

.archived-todos {
  padding: 15px;
  border-radius: 15px;
  background: #F8F8F8;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.date-label {
  color: #86858C;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dlt-icon{
  color: #86858C;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
  &:hover{
    background-color: #f5f5f5;
  }
}

.archived-tab {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.archived-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}

.archived-items {
  width: 100%;
  flex-shrink: 0;
}

.todoIncomplete {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.archived-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkbox {
  width: 24px;
  height: 24px;
  position: relative;
  background: linear-gradient(180deg, #FCFCFC 0%, #F8F8F8 100%);
  border-radius: 6px;
  border: 1px #DADADA solid
}

.todo-item {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
}

.todo-detail {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.todo-item-label {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 10px 0 10px;
}

.todo-note-label {
  color: #575767;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 10px 0 10px;
}

.restore-icon{
  color: #86858C;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
  &:hover{
    background-color: #f5f5f5;
  }
}

.divider{
  border: none;
  margin: 0;
}

@media (min-width: 600px) {
  .sheet-layout {
    max-width: 600px;
  }
}

@media (min-width: 600px) {
  .sheet-layout {
    padding-left: 24px;
    padding-right: 24px;
  }
}


