
.sheet-layout {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  margin-bottom: 1.5rem;
}

.heading {
  margin: 0px 0px 0.35em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.334;
  letter-spacing: 0em;
  font-weight: 700;
}

.sub-heading {
  margin: 0px;
  margin-bottom: 1rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.6);
  max-width: 360px;
  line-height: 1.43;
}

.archived-todos {
  padding: 15px 25px 15px 25px;
  border-radius: 15px;
  background: #F8F8F8;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.date-label {
  color: #86858C;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  height: 19px;
  padding: 16px 0px 3px 12px;
}

.dlt-icon{
  width: 24px !important;
  height: 24px !important;
  color: #86858C;
  font-size: 16px;
  // width: 100%;
  padding: 16px 0px 3px 12px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.archived-items {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  padding-top: 16px; */
  width: 100%;
  flex-shrink: 0;
}

.todoIncomplete {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.archived-container {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: inline-flex;
  width: 100%;
}

.checkbox {
  width: 24px;
  height: 24px;
  position: relative;
  background: linear-gradient(180deg, #FCFCFC 0%, #F8F8F8 100%);
  border-radius: 6px;
  border: 1px #DADADA solid
}

.todo-item {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: inline-flex;
  width: 100%;
}

.todo-item-label {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.todo-note-label {
  color: #575767;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.divider{
  height: 1px;
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid #D9D9D9;
}

@media (min-width: 600px) {
  .sheet-layout {
    max-width: 600px;
  }
}

@media (min-width: 600px) {
  .sheet-layout {
    padding-left: 24px;
    padding-right: 24px;
  }
}


