
<div class="sheet-layout">
  <div class="header">
    <div style="margin-top: 1rem; margin-bottom: 1rem;">
      <h5 class="heading">Archive 📥</h5>
      <p class="sub-heading">Rediscover the past: explore your archived tasks</p>
      <section class="content">
        <div class="archived-tab" *ngFor="let task of getGroupedTaskDates()">
          <div class="archived-date">
            <div class="date-label">{{ task.date | date:'longDate'}}</div>
            <span (click)="deleteArchives(task)">
              <mat-icon class="flex-center btn-icon dlt-icon no-select">delete</mat-icon>
            </span>
          </div>
          <div class="archived-todos">
            <div class="archived-items">
              <div class="todoIncomplete">
                <div style="width: 100%;" *ngFor="let task of groupedTasks[task.date] ; let last = last">
                  <!-- <label class="container">
                    <input id="todoIncomplete" type="checkbox" [checked]="task.checked">
                    <span class="checkmark"></span>
                  </label> -->
                  <div class="archived-container">
                    <div class="todo-item">
                      <div class="todo-detail">
                        <div class="todo-item-label">{{task.emoji.native +' '+ task.name}}</div>
                        <pre class="todo-note-label" *ngIf="task.note">{{task.note}}</pre>
                      </div>
                      <div class="restore-icon btn-icon no-select" title="Restore" (click)="restoreTask(task)">
                        <mat-icon>restore</mat-icon>
                      </div>
                    </div>
                    <hr [ngClass]="{'divider': last}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="archived-todos" style="margin-top: 2rem;" *ngIf="isEmpty">
          <div class="todo-item">
            <div class="todo-item-label">No archives found 🙂</div>
          </div>
        </div>
      </section>
      <!-- <section class="content">
        <div>
          <div class="date-label">25 August 2023</div>
          <div class="archived-todos">
            <div class="archived-items">
              <div class="todoIncomplete">
                <div class="todo-container" *ngFor="let task of archivedTasks; ; let last = last">
                  <div class="todo-item">
                    <div class="todo-item-label">{{task.name}}</div>
                    <div class="todo-note-label">{{task.emoji +' '+ task.note}}</div>
                    <div [ngClass]="{'divider': !last}"></div>
                  </div>
                </div>
                <div *ngIf="archivedTasks.length === 0">
                  <div class="todo-item">
                    <div class="todo-item-label todo-item-label_completed">No archives found 🙂</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
    </div>
  </div>
</div>
