
<div class="todo-form">
  <form [formGroup]="todoForm">
    <div class="todo-form-fields">
      <div class="form-header">
        <h5 class="heading-form">What tasks we got today? 🤔
        </h5>
        <p class="MuiTypography-root MuiTypography-body1 css-1ymvkef heading-desc">Add a dash of productivity to your day
        </p>
      </div>
        <mat-form-field color="primary" appearance="outline">
          <mat-label>Task</mat-label>
          <input matInput  placeholder="Task" type="text" formControlName="name">
        </mat-form-field>

        <span style="display: flex; gap: 10px;">
          <div class="emojis">
            <button class="emoji-btn" mat-button (click)="toggleElement()">
              <ngx-emoji [isNative]="true" style="height: 24px;display: flex;" [emoji]="selectedEmoji? selectedEmoji: 'smile'"></ngx-emoji>
            </button>
          </div>
          <emoji-mart
            [showPreview]="false"
            [isNative]="true"
            [darkMode]="darkMode"
            color="#4249a0"
            class="emoji-popup"
            *ngIf="emojiPopup"
            (emojiSelect)="select($event)"
            ></emoji-mart>
          <mat-form-field appearance="outline" color="primary" style="width: 100%;">
            <mat-label>Category</mat-label>
            <input matInput placeholder="Category" type="text" formControlName="category">
          </mat-form-field>
        </span>

        <input type="hidden" name="_gotcha" style="display:none !important">
      <button type="submit" matInput class="submit-btn" tabindex="0" (click)="onSubmit()">Add Task
        <span class="mui-span"></span>
      </button>
    </div>
  </form>
</div>
