
<div class="todo-form">
  <form [formGroup]="todoForm">
    <div class="todo-form-fields">
      <div class="form-header">
        <h5 class="heading-form">{{headerLabel}}</h5>
        <p class="heading-desc">{{headerDesc}}</p>
      </div>
        <mat-form-field color="primary" appearance="outline">
          <mat-label>Task</mat-label>
          <input matInput  placeholder="Task" type="text" formControlName="name">
        </mat-form-field>

        <div class="tags">
          <mat-chip-grid #chipGrid formControlName="tags">
            <span class="chips-layout">

              <mat-chip-option *ngFor="let tag of tags" (removed)="removeTag(tag)" (click)="onSelectTag(tag)" [selected]="tag.isSelected">
                {{tag.name}}
                <button matChipRemove>
                  <mat-icon class="chip-icon">close</mat-icon>
                </button>
              </mat-chip-option>

              <div [style.display]="tagInput? '' : 'none'" class="add-tag tag-input mat-mdc-standard-chip">
                <input id="chip-input" #chipInput class="mdc-evolution-chip__text-label" style="flex-basis: min-content;" [matChipInputFor]="chipGrid" (matChipInputTokenEnd)="addTag($event)"/>
                <mat-icon class="add-icon" title="Add" (click)="addTag(chipInput)">add_circle</mat-icon>
              </div>

              <div [style.display]="!tagInput? '' : 'none'" class="add-tag" style="background: none;" (click)="toggleTagInput(chipInput)"><mat-icon>add</mat-icon>Add Tag</div>
            </span>
          </mat-chip-grid>
        </div>

        <span style="display: flex; gap: 10px;">
          <div class="emojis">
            <button title="Add Emoji" class="emoji-btn" mat-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="emojiMenu">
              <ngx-emoji [isNative]="true" style="height: 24px;display: flex;" [emoji]="selectedEmoji? selectedEmoji: 'smile'"></ngx-emoji>
            </button>
          </div>
          <mat-menu #emojiMenu="matMenu">
            <div (click)="$event.stopPropagation()">
              <emoji-mart
                class="emoji-popup"
                [showPreview]="false"
                [isNative]="true"
                [darkMode]="darkMode"
                color="#4249a0"
                (emojiSelect)="select($event); menuTrigger.closeMenu()">
              </emoji-mart>
            </div>
          </mat-menu>
          <mat-form-field appearance="outline" color="primary" style="width: 100%;">
            <mat-label>Notes</mat-label>
            <textarea matInput placeholder="Add any additional notes here..." type="text" formControlName="note"></textarea>
          </mat-form-field>
        </span>

        <div class="todo-item-label" style="font-size: 16px;">Schedule Tasks</div>
        <div class="schedule">
          <mat-chip-listbox formControlName="scheduleSelect" aria-label="Schedule" (change)="onChangeSchedule($event)">
            <mat-chip-option class="schedule-chip" value="Today" selected>
              <div class="mat-chip-label">
                <div class="calendar-icon">
                  <div class="calendar-icon-head"></div>
                  <div class="calendar-icon-label">{{dateToday}}</div>
                </div>
                <div class="calendar-label">Today</div>
              </div>
            </mat-chip-option>
            <mat-chip-option class="schedule-chip" value="Tomorrow">
              <div class="mat-chip-label">
                <div class="calendar-icon">
                  <div class="calendar-icon-head"></div>
                  <div class="calendar-icon-label">{{dateTomorrow}}</div>
                </div>
                <div class="calendar-label">Tomorrow</div>
              </div>
            </mat-chip-option>
            <mat-chip-option class="schedule-chip" value="Weekend">
              <div class="mat-chip-label">
                <div class="calendar-icon">
                  <div class="calendar-icon-head"></div>
                  <div class="calendar-icon-label">{{dateWeekend}}</div>
                </div>
                <div class="calendar-label">Weekend</div>
              </div>
            </mat-chip-option>
            <mat-chip-option class="schedule-chip" value="Date and Time">
              <div class="mat-chip-label">
                <div class="calendar-icon">
                  <div class="calendar-icon-head"></div>
                  <div class="calendar-icon-label">•••</div>
                </div>
                <div class="calendar-label">Date and Time</div>
              </div>
            </mat-chip-option>
          </mat-chip-listbox>
          <div class="calendar-label-mobile">
            <div class="calendar-label-mobile-item">Today</div>
            <div class="calendar-label-mobile-item">Tomorrow</div>
            <div class="calendar-label-mobile-item">Weekend</div>
            <div class="calendar-label-mobile-item">Date and Time</div>
          </div>
        </div>
        <span style="display: flex; gap: 10px; margin-top: 10px;">
          <mat-form-field *ngIf="date" appearance="outline" color="primary" style="width: 65%;">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" [min]="minDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngIf="time" appearance="outline" color="primary" style="width: 35%;">
            <mat-label>Time</mat-label>
            <input matInput type="time" class="bg-none" formControlName="time" (focus)="clearClockInterval()" placeholder="Time">
          </mat-form-field>
        </span>

        <input type="hidden" name="_gotcha" style="display:none !important">
      <button type="submit" matInput class="submit-btn" tabindex="0" (click)="onSubmit()">{{btnLabel}}
        <span class="mui-span"></span>
      </button>
    </div>
  </form>
</div>
