// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import '@ctrl/ngx-emoji-mart/picker';
@import "variables.scss";
@import "./assets/sass/dark";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$todo-app-primary: mat.define-palette(mat.$indigo-palette);
$todo-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$todo-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$todo-app-theme: mat.define-light-theme((
  color: (
    primary: $todo-app-primary,
    accent: $todo-app-accent,
    warn: $todo-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($todo-app-theme);

// @import "~@angular/material/theming";
// @include mat-core();

// // Define your dark mode theme
// $dark-theme: mat-dark-theme($your-primary-color, $your-accent-color, $your-warn-color);

// // Override default theme with dark mode theme
// @include angular-material-theme($dark-theme);

html, body {
  height: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  overflow-x: hidden;
}
body { margin: 0; font-family: 'Inter', sans-serif; }
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

hr{
  width: 100%;
  border-top: 2px solid #D0D0D0;
  border-radius: 5px;
  opacity: 0.5;
}

.dark-mode {
  --scrollbar-track-color: #333;
  --scrollbar-thumb-color: #414141;
}

/* Styles for the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

.mat-icon{
  transition: all 0.3s ease;
  border-radius: 50%;
  &:hover{
    background-color: #f8f8f8;
  }
}
.mat-bottom-sheet-container {
  padding: 8px 16px;
  min-width: 100vw !important;
  min-height: 60vh;
  max-height: 70vh;
  box-sizing: border-box;
  display: block;
  outline: 0;
  overflow: auto;
  border-radius: 10px 10px 0px 0px;
}

.mat-mdc-menu-panel{
  border-radius: 10px !important;
}

// .mdc-snackbar__actions{
//   display: none !important;
// }
// .mdc-button .mdc-button__label{
//   color: #424242 !important;
// }
.mat-mdc-snack-bar-container .mdc-snackbar__surface{
  background-color: #fff !important;
  margin-top: 5%;
}
.mat-calendar-body-today {
  border-color: #3F4EA0 !important;
}
.mat-calendar-body-selected {
  background-color: #3F4EA0 !important;
}
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: #a0a0a0  !important;
}
.mat-mdc-icon-button {
  --mdc-icon-button-icon-color: #616161;
}
.mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: #181818 !important;
}
.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled){
  color: #181818 !important;
}
.mat-mdc-menu-panel{
  max-width: 100% !important;
}
.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic .mdc-evolution-chip__action--primary {
  padding-left: 12px !important;
  padding-right: 12px;
}
.mdc-evolution-chip__cell {
  justify-content: center;
}
.mdc-evolution-chip-set__chips {
  flex-wrap: nowrap !important;
  margin: 0px !important;
}
.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic .mdc-evolution-chip__graphic {
  display: none;
}
.mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary, .mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-primary {
--mdc-chip-elevated-container-color: #1d1d1f;
}
