// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import '@ctrl/ngx-emoji-mart/picker';
@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$todo-app-primary: mat.define-palette(mat.$indigo-palette);
$todo-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$todo-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$todo-app-theme: mat.define-light-theme((
  color: (
    primary: $todo-app-primary,
    accent: $todo-app-accent,
    warn: $todo-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($todo-app-theme);

// @import "~@angular/material/theming";
// @include mat-core();

// // Define your dark mode theme
// $dark-theme: mat-dark-theme($your-primary-color, $your-accent-color, $your-warn-color);

// // Override default theme with dark mode theme
// @include angular-material-theme($dark-theme);

html, body { height: 100%; }
body { margin: 0; font-family: 'Inter', sans-serif; }
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* Styles for the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

.mat-bottom-sheet-container {
  padding: 8px 16px;
  min-width: 100vw !important;
  min-height: 60vh;
  max-height: 70vh;
  box-sizing: border-box;
  display: block;
  outline: 0;
  overflow: auto;
  border-radius: 10px 10px 0px 0px;
}

.mat-mdc-menu-panel{
  border-radius: 10px !important;
}

/* =========== DARK MODE SETTINGS =========== */
body.dark-mode {
  background-color: $color-bg-darkmode;
  color: $color-primary-darkmode;

  .mat-bottom-sheet-container {
    background-color: rgb(24, 24, 24);
  }

  .mat-mdc-menu-content{
    background-color: #2c2c2d;
  }

  .mat-mdc-menu-item-text, .mat-icon{
    color: rgb(255 255 255 / 54%) !important;
  }

  h3, h4, h5, h6, a {
    color: white !important;
  }

  .divider{
    background: #575767;
    border-bottom: #575767;
  }

  .heading-desc{
    color: #979797;
  }

  // .mat-form-field-outline {
  //   color: #a1a1a6 !important;
  // }
  // .mat-form-field-label {
  //   color: #a1a1a6 !important;
  // }
  // input.mat-input-element {
  //   color: #a1a1a6 !important;
  // }
  // .mat-form-field-appearance-outline {
  //   color: rgb(163, 152, 120) !important;
  // }
  // .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  //   color: rgb(163, 152, 120) !important;
  // }
  // .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  //   color: rgb(163, 152, 120) !important;
  // }
  .emoji-btn{
    &:hover{
      border-color: #2C2C2D;
    }
    background: transparent;
    border-color: #424242;;
  }
  .submit-btn{
    background-color: rgb(245, 245, 247);
    color: rgb(22, 22, 22);
  }
  .submit-btn:hover{
    text-decoration: none;
    background-color: rgb(163, 152, 120);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
  }

  .archived-todos{
    background: #2C2C2D;
  }

  .todo-item-label{
    color: #DADADA;
  }

  .todo-category-label{
    color: #979797;
  }

  .sub-heading{
    color: #B6B6B6;
  }

  .settings-panel{
    background: #2C2C2D;
  }

  .about-text{
    color: #979797;
  }

  .settings-title{
    color: #DADADA;
  }

  .mat-mdc-form-field, .mat-mdc-form-field-type-mat-input, .matform-field-appearance-outline, .mat-form-field-hide-placeholder {
    color: red;
  }

  .mat-mdc-floating-label{
    color: #979797 !important;
  }

  .mdc-text-field--outlined, .mdc-text-field__input{
    color: #979797 !important;
  }

  .mat-mdc-input-element{
    color: #979797 !important;
  }

  .checkmark{
    border: 2px #0E0E11 solid;
    background: linear-gradient(180deg, #2B2D37 0%, #262933 100%);
  }

  .container input:checked ~ .checkmark {
    background: linear-gradient(180deg, #2B2D37 0%, #262933 100%) !important;
  }

  .container .checkmark:after{
    border-color: #DADADA !important;
  }

  .email-link{
    color: #9a9a9a !important;
  }

  .notif-container{
    background: #353535;
  }

  .action-buttons{
    background: #232323;
  }

  .icon{
    color: #F67979 !important;
  }

  .btn-no{
    border-color: #686868;
    background: #353535;
    color: #a2a2a2;
  }

  .btn-yes{
    color: #ffe2e2;
  }

  .footer-text{
    border-color: #575767;
  }

}
