:root{
  --scrollbar-track-color: #eaeaea;
  --scrollbar-thumb-color: #bdbdbd;
}

$color-bg-darkmode: #141419;
// $color-darkmode: #DADADA;
$color-primary-darkmode: #DADADA;
$color-secondary-darkmode: #575767;
$color-accent-darkmode: #575767;
