
/* =========== DARK MODE SETTINGS =========== */
body.dark-mode {
  background-color: $color-bg-darkmode;
  color: $color-primary-darkmode;

  --mdc-outlined-text-field-hover-outline-color: #2C2C2D;
  --mdc-outlined-text-field-outline-color: #3e3e3e;
  --mdc-outlined-text-field-focus-outline-color: rgb(163, 152, 120);
  --mdc-outlined-text-field-input-text-placeholder-color: #424242;
  --mdc-outlined-text-field-caret-color: #747474;

  .mat-bottom-sheet-container {
    background-color: #181818;
  }

  .mat-mdc-menu-content{
    background-color: #2c2c2d;
  }

  .mat-mdc-menu-item-text, .mat-icon{
    color: #ffffff8a !important;
  }

  h3, h4, h5, h6, a {
    color: white !important;
  }

  .divider{
    background: #575767;
    border-bottom: #575767;
  }

  .heading-desc{
    color: #979797;
  }

  .emoji-mart-dark .emoji-mart-category-label span {
    background-color: #2c2c2d;
  }
  .emoji-mart-dark {
    background-color: #2c2c2d;
  }
  .emoji-btn{
    &:hover{
      border-color: #2C2C2D;
    }
    background: transparent;
    border-color: #424242;;
  }
  .submit-btn{
    background-color: #f5f5f7;
    color: #161616;
  }
  .submit-btn:hover{
    text-decoration: none;
    background-color: #a39878;
    box-shadow: #00000033 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
  }

  .btn-primary {
    &:hover{
      background-color: #a7a7a7;
    }
    border: 1px solid #a7a7a7;
    color: #a7a7a7 !important;
    &-spinner{
      &:hover{
        background-color: transparent;
      }
    }
  }

  .loading-spinner{
    --mdc-circular-progress-active-indicator-color: #a7a7a7
  }

  .todo-container {
    background-color: #141419;
  }
  .example-list {
    background-color: #141419;
  }

  .archived-todos{
    background: #2C2C2D;
  }

  .todo-item-label{
    color: #DADADA;
    &_msg {
      color: #777777;
    }
  }

  .todo-note-label{
    color: #979797;
  }

  .sub-heading{
    color: #B6B6B6;
  }

  .settings-panel{
    background: #2C2C2D;
  }

  .about-text{
    color: #979797;
  }

  .settings-title{
    color: #DADADA;
  }

  .mat-mdc-form-field, .mat-mdc-form-field-type-mat-input, .matform-field-appearance-outline, .mat-form-field-hide-placeholder {
    color: red;
  }

  .mat-mdc-floating-label{
    color: #979797 !important;
  }

  .mdc-text-field--outlined, .mdc-text-field__input{
    color: #979797 !important;
  }

  .mat-mdc-input-element{
    color: #979797 !important;
  }

  .checkmark{
    border: 2px #0E0E11 solid;
    background: linear-gradient(180deg, #2B2D37 0%, #262933 100%);
  }

  .container input:checked ~ .checkmark {
    background: linear-gradient(180deg, #2B2D37 0%, #262933 100%) !important;
  }

  .container .checkmark:after{
    border-color: #DADADA !important;
  }

  .email-link{
    color: #9a9a9a !important;
  }

  .notif-container{
    background: #353535;
  }

  .action-buttons{
    background: #232323;
  }

  .icon{
    color: #F67979 !important;
  }

  .btn-no{
    border-color: #686868;
    background: #353535;
    color: #a2a2a2;
  }

  .btn-yes{
    color: #ffe2e2;
  }

  .footer-text{
    border-color: #575767;
  }

  .mat-mdc-snack-bar-container .mdc-snackbar__surface{
    background-color: var(--mdc-snackbar-container-color) !important;
  }
  .mat-mdc-snack-bar-container .mdc-snackbar__label {
    color: var(--mdc-snackbar-supporting-text-color) !important;
  }
  // .mdc-button .mdc-button__label{
  //   color: var(--mdc-snackbar-supporting-text-color) !important;
  // }
  .mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled){
    color: var(--mdc-snackbar-supporting-text-color) !important;
  }
}
